@charset "ISO-8859-1";

body {
	background-color: #101010;
	color: 	#FFFFFF;
}

.Cuadricula {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
	
.Contenedor {
  padding: 20x;
  font-size: 30px;
  text-align: center;
  width: 450px;
  height: 450x;
  padding-bottom: 50px;
}

.header {
	color: white;
	height: 100px;
}
